$color-primary: #7c7bad;
$color-secondary: #65639e;
$color-txt: #414042;
$color-reverse-txt: #fff;
$color-bg: #fff;
$color-error: #e74c3c;

$text-light: 300;
$text-regular: 400;
$text-medium: 600;
$text-bold: 700;

$font-size: 14px;

$transition-fn: cubic-bezier(0.165, 0.84, 0.44, 1);
$transition-duration: 200ms;
