.header {
  height: 350px;
  background: rgba(30, 30, 30, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/testheader04.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    color: #fff;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    margin: 10px 50px 10px 50px;
    text-align: left;
    font-weight: 600;
  }

  input {
    width: 300px;
    height: 40px;
    font-size: 15px;
    padding-left: 15px;
    border-color:#fff;
    &::placeholder {
      color: silver;
      font-size: 1em;
    }
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
}
.headerButton {
  background-color: #00a6fb !important;
  border-color: #00a6fb !important;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 15px !important;
  font-weight: 600 !important;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icone {
  color: #00a6fb;
  margin-left: 10px;
  text-align: center;
  font-size: 25px;
}
.title {
  text-align: center;
  font-weight: 600;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  color: #00a6fb;
  margin: 5px;
}
.section {
  background-color: rgba(223, 249, 251, 0.5);
  padding: 30px 30px;
  width: 40%;
  float: left;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.informations {
  text-align: justify;
  margin: 20px 40px 30px 40px;
  font-family: "Noto Sans JP", sans-serif;
}


.footer {
  height: 250px;
  background-color: #073b4c;
  color: white;
  padding: 10px 25px;
}
