.navbar {
    position: absolute;
    top : 0;
    right: 25px;
    ul > li {
        color: rgb(250, 250,250);
        display: inline-block;
        margin: 5px;
        a {
            color: rgb(250, 250,250);
            text-decoration: none;
        }
    }
}